.vertical-modal{
  background-color: #2E2D31;
  height: 650px;
  width: 600px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: white;
  font-family: 'Nunito', sans-serif;
}

hr {
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);;
  border: none;
  height: 2px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90%;
}

h1 {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 5px;
}

li hr {
  flex-shrink: 4;
  width: 100%;
}

.items-listing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item-list-grouping {
  align-items: center;
  display: flex;
  height: 98%;
  justify-content: space-around;
  list-style: none;
  width: 80%;
}

.item-list-details {
  border: 2px solid white;
  margin: 3% 0 3% 0;
  width: 80%;
}

.item-title-location-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
}

.location-span{
  font-size: .7em;
}

.item-picture {
  height: 100px;
  overflow: hidden;
}

.item-edit-button {
  font-size: 30px;
  margin-right: 0px;
  padding-right: 0px;
}

li.item-picture {
  height: 98%;
  padding: 0px;
  width: 100px;
}


