/*View Pin Modal--------------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
}
body {
  margin: 0;
}

.fakeimg {
  display: flex;
  background-color: #2E2D31;
  width: 100%;
  height: 300px;
  justify-content: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row {
  align-items: center;

}


/* Action Buttons  */
.dibs-button, .pass-button {
  padding: 12px 50px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  margin: 15px;
  text-align: center;
}
.dibs-button:hover, .pass-button:hover {
  background-color: white;
  color: #2E2D31;
  border: 2px solid white;
}
/* End of Action Buttons  */

/* New styles */
.view-pin-img {
  max-width: 600px;
  height: 300px;
}

.view-pin-information-bar {
  display: flex;
  background-color: #2E2D31;
  justify-content: center;
}

.dibs-pass-container {
  display: flex;
  flex-direction: row;
}

.view-pin-label {
  padding: 10px;
  color: white;
  font-weight: light;
  letter-spacing: .25em;
  text-align: center;

}

.view-pin-container {
	display: flex;
  justify-content:center;
}

.row-container {
	background-color: #2E2D31;
	width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-content: center;
}


/* Column container */
.view-pin-row {
  display: flex;
  justify-content: center;
}

.view-pin-row-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

/* Main column */
.view-pin-main {
  flex: 70%;
  background-color: white;
  padding: 10px;
  max-width: 600px;
}

.view-pin-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box-icon {
  color: white;
  font-size: 2em;
  margin: 15px;
  flex: 1;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .view-pin-row, .view-pin-information-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-icon {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px;
  }
  .fakeimg {
    height: 300px;
  }
  .dibs-button, .pass-button {
    padding: 12px 50px;
    margin: 7px;
  }
  .box-icon {
    color: white;
    font-size: 1.5em;
    margin: 15px;
    flex: 1;
  }

}
