
.vertical-modal{
  background-color: #2E2D31;
  color: white;
  position: absolute;
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 13%;
  z-index: 10;
  overflow: hidden;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

hr {
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  border: none;
  height: 1px;
  width: 100%;
}

footer {
  padding-bottom: 5%;
  width: 80%;
}

.body-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  max-width: 600px;
  width: 100%;
}

.settings-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 80%;
}

.slide-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25%;
  width: 100%;
}

.slider {
  appearance: none;
  height: 100%;
  margin-top: 25%;
  outline: none;
  width: 100%;
}

.title-exit-button-container {
  width: 100%;
}

.title-exit-button-flex-group {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 5% 10% 5% 10%;
}

.delete-account-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  padding: 12px 40px;
  width: 100%;
}

.delete-account-button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.footer-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-exit-button-container {
  color: white;
  height: 10vh;
  opacity: 0.7;
}

input[type=range] {
  /* Specific width is required for Firefox. */
  background: transparent;
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Otherwise white in Chrome */
  margin: 18px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  background: #5200E8;
  border: 1px solid #000000;
  border-radius: 3px;
  height: 36px;
  cursor: pointer;
  margin-top: -14px;
  -webkit-appearance: none;
  width: 16px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  background: white;
  border: 0.2px solid white;
  border-radius: 1.3px;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  background: white;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  background: #5200E8;
  border: 1px solid #000000;
  border-radius: 3px;
  cursor: pointer;
  height: 36px;
  width: 16px;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  background: ##5200E8;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  cursor: pointer;
  height: 36px;
  width: 16px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
