/*Global Styles-----------------------------------------------------------------------*/
body{
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
}

hr{
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  border: none;
  height: 2px;
  margin: 20px auto;
  width: 90%;
}

.vertical-modal {
  background-color: #2E2D31;
  height: 650px;
  width: 412px
}

/*Add/Edit Pin Styles-----------------------------------------------------------------*/
.boxes, .footer, .header{
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.modal-row {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.modal-row button {
  height: 40px;
  margin: 0px auto;
}

.modal-row input {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1em;
  height: 40px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-top: 0px;
  width: 100%;
}

.modal-row:first-child {
  padding-top: 20px;
}

.modal-row .tag-input {
  width: 75%;
}

/*Button Styles-----------------------------------------------------------------------*/

.big{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1;
  font-size: 50px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.car-button, 
.couch-button,
.random-button, 
.sports-button, 
.tv-button{
  color: white;
  flex: 1;
  font-size: 30px;
  margin: 15px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.delete-account-button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  flex: 1;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  letter-spacing: .25em;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 300px;;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  width: 100%;
}

.edit-pencil{
  font-size: 30px;
  margin-right: 0px;
  padding-right: 0px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.exit-button{
  align-content: space-between;
  color: white;
  font-size: 30px;
  margin-left: auto;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.hamburger-menu-button{
  color: white;
  display: block;
  float: right;
  font-size: 1em;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.image-button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 40px;
  margin-left: 20%;
  margin-right: 10%;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.login-btn{
  background-color: transparent;
  border-color: white;
  border-radius: 25px;
  margin: 15px;
  opacity: 0.9;
  padding: 12px 40px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.make-post-button, .save-post-button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  letter-spacing: .25em;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10px;
  text-align: center;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  width: 18em;
}

.save-post-button{
  width: 16em;
}

.medium{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1;
  font-size: 35px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.new-pin-button{
  background-image: linear-gradient(160deg, #FF4700, #5200E8, #00FFDE);
  border-radius: 100px;
  color: white;
  filter: drop-shadow(1px 1px 7px black);
  font-size: 5em;
  opacity: .7;
  padding: .05em;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.small{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1;
  font-size: 20px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.trash-button{
  color: white;
  font-size: 40px;
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 3%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.view-pin-button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  margin: 15px;
  padding: 12px 50px;
  text-align: center;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

/*Button Styles Hover-----------------------------------------------------------------*/

.big:hover, .edit-pencil:hover, .exit-button:hover, .hamburger-menu-button:hover, .image-button:hover, .medium:hover, .small:hover{
  color: black;
}

.car-button:hover
{
  color: #80334f;
}

.couch-button:hover
{
  color: #ff4700;
}

.delete-account-button:hover {
  background-color: white;
  color: red;
}

.login-btn:hover{
  background-color: white;
  color: #2e2d31;
}

.make-post-button:hover, .save-post-button:hover {
  background-color: white;
  color: limegreen;
}

.new-pin-button:hover{
  color:black;
}

.random-button:hover
{
  color: #00ffde;
}

.sports-button:hover
{
  color: #5200e8;
}

.trash-button:hover
{
  color: red;
}

.tv-button:hover
{
  color: #467290;
}

.view-pin-button:hover{
  background-color: white;
  border: 2px solid white;
  color: #2E2D31;
}

/*Hamburger Menu Modal----------------------------------------------------------------*/

.hamburger-menu-modal {
  background-color: #2e2d31;
  height: 15em;
  margin: 70px auto;
  padding: 8px 8px;
  width: 18em;

}

.search-bar {
  position: relative;
}

.my-pins-link:hover {
  color: #00ffde;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.settings-link:hover {
  color: #5200e8;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.log-out-link:hover {
  color: #ff4700;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.search-bar > input{
  border-color: white;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  height: 1.8em;
  margin-bottom: 10px;
  text-indent: 2em;
  width: 25.55em;
}

.hamburger-menu-modal > div > h2 {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .25em;
  margin: 0 auto;
  padding: 6px 0px;
  text-align: center;
  text-transform: uppercase;
}

.search-icon {
  color: gray;
  font-size: 15px;
  left: 7px;
  position: absolute;
  top: 4px;
}

.hamburger-menu-modal .log-out-link > h2 {
  border-width: 0px;
}

/*Home Page Styles--------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans|ZCOOL+QingKe+HuangYou');

.button-child {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 4%;
  margin-right: 4%;
}

.button-container {
  align-items: flex-end;
  align-self: self-start;
  display: flex;
  height: 75%;
  justify-content: flex-end;
}

.drop-shadow {
  box-shadow: 0 8px 6px -6px #00FFDE;
  -moz-box-shadow: 0 8px 6px -6px #00FFDE;
  -webkit-box-shadow: 0 8px 6px -6px #00FFDE;
}

.emoji-header {
  opacity: .2;
  position: fixed;
  width:1600px;
  z-index: 1;
}

.fa-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4700), to(#00FFDE));
  font-size: 7em;
  filter: drop-shadow(6px -4px 3px #2E2D31);
}

.gm-fullscreen-control {
  display: none;
}

.hamburger-menu {
  display: none;
}

.home-page-body{
  margin: 0;
  height: 100vh;
  width:100vw;
}

.home-page-logo {
  display: flex;
  margin-left: 15px;
  position: fixed;
  top: -5px;
  width:250px;
  z-index: 20;
}

.home-page-navbar {
  align-items: center;
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  display: flex;
  font-size: 0.875rem;
  height: 70px;
  justify-content: flex-end;
  opacity: 0.6;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.home-page-search-input {
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 20px;
  width: 80%;
}

.map-container {
  height: 100vh;
  width:100vw;
  margin: 0;
  z-index: -1;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 50px;
  overflow: hidden;
  position: fixed;
  text-decoration: none;
}

.nav-links {
  color: white;
  letter-spacing: .25em;
  margin-left: 40px;
  text-decoration: none;
  text-transform: capitalize;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.main-search-list {
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 50px;
  text-decoration: none;
}

.home-page-search-bar {
  align-items: center;
  background-color: #2E2D31;
  display: flex;
  display: none;
  font-size: 14px;
  height: 70px;
  justify-content: center;
  padding-bottom: 0;
  width: 100%;
}

.new-pin-button {
  background-image: linear-gradient(160deg, #FF4700, #5200E8, #00FFDE);
  border-radius: 100px;
  filter: drop-shadow(1px 1px 7px black);
  font-size: 5em;
  opacity: .7;
  padding: .05em;
}

.marker-style {
  filter: drop-shadow(1px 1px 3px #2E2D31);
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.white {
  color: white;
  font-size: 2em;
}

.x-reversed {
  color: white;
  font-size: 2em;
  justify-content: flex-end;
}

button.home-page-new-pin-button{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.main-nav li {
  color: white;
  margin: 0;
  text-decoration: none;
}

.nav-links:hover {
  color: black;
}

@media only screen and (max-width: 900px) {

.button-container {
  height: 72%;
}

.main-nav-list {
    margin-right: 2%;
}

.logo {
  margin-left: 0px;
  top: 0px;
  width:225px;
}

.hamburger-menu {
  color: white;
  display: block;
  float: right;
  font-size: 2em;
}

.nav-links {
  display: none;
}
}

/*Landing Page Styles-----------------------------------------------------------------*/

.crapMapLogo {
  height: 20em;
}

.landingPageGradient {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  background-repeat: repeat;
  height: 180vh;
  width: 100vw;
  opacity: .7;
  z-index: -2;
}

.landingPageLogoContainer {
  display: flex;
  justify-content: center;
}

.lpBackground {
  background-repeat: repeat;
  height: 180vh;
  width: 100vw;
  opacity: 0.35;
  position: fixed;
  z-index: -1;
}

/*My Listings Styles------------------------------------------------------------------*/

h1 {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 5px;
}

li hr {
  flex-shrink: 4;
  width: 100%;
}

.item-edit-button {
  font-size: 30px;
  margin-right: 0px;
  padding-right: 0px;
}

.items-listing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item-list-details {
  border: 2px solid white;
  margin: 3% 0 3% 0;
  width: 80%;
}

.item-list-grouping {
  align-items: center;
  display: flex;
  height: 98%;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.item-picture {
  height: 100px;
  overflow: hidden;
}

.item-title-location-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
}

.location-span{
  font-size: .7em;
}

li.item-picture {
  height: 98%;
  padding: 0px;
  width: 100px;
}

/*Settings Styles---------------------------------------------------------------------*/

footer {
  padding-bottom: 5%;
  width: 80%;
}

.body-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  max-width: 600px;
  width: 100%;
}

.footer-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.settings-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 80%;
}

.slide-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25%;
  width: 100%;
}

.slider {
  appearance: none;
  height: 100%;
  margin-top: 25%;
  outline: none;
  width: 100%;
}

.title-exit-button-container {
  color: white;
  height: 10vh;
  opacity: 0.7;
  width: 100%;
}

.title-exit-button-flex-group {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 5% 10% 5% 10%;
}

/*View Pin Modal Styles---------------------------------------------------------------*/

.fakeimg {
  display: flex;
  background-color: #2E2D31;
  width: 100%;
  height: 300px;
  justify-content: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row {
  align-items: center;

}


/* Action Buttons  */
.dibs-button, .pass-button {
  padding: 12px 50px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  margin: 15px;
  text-align: center;
}
.dibs-button:hover, .pass-button:hover {
  background-color: white;
  color: #2E2D31;
  border: 2px solid white;
}
/* End of Action Buttons  */

/* New styles */
.view-pin-img {
  max-width: 600px;
  height: 300px;
}

.view-pin-information-bar {
  display: flex;
  background-color: #2E2D31;
  justify-content: center;
}

.dibs-pass-container {
  display: flex;
  flex-direction: row;
}

.view-pin-label {
  padding: 10px;
  color: white;
  font-weight: light;
  letter-spacing: .25em;
  text-align: center;

}

.view-pin-container {
	display: flex;
  justify-content:center;
}

.row-container {
	background-color: #2E2D31;
	width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-content: center;
}


/* Column container */
.view-pin-row {
  display: flex;
  justify-content: center;
}

.view-pin-row-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

/* Main column */
.view-pin-main {
  flex: 70%;
  background-color: white;
  padding: 10px;
  max-width: 600px;
}

.view-pin-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box-icon {
  color: white;
  font-size: 2em;
  margin: 15px;
  flex: 1;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .view-pin-row, .view-pin-information-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-icon {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px;
  }
  .fakeimg {
    height: 300px;
  }
  .dibs-button, .pass-button {
    padding: 12px 50px;
    margin: 7px;
  }
  .box-icon {
    color: white;
    font-size: 1.5em;
    margin: 15px;
    flex: 1;
  }

}