.vertical-modal {
  background-color: #2E2D31;
  height: 650px;
  width: 412px;
  color: white;
}

.modal-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 85%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-self: center;
}

.modal-row button {
  height: 40px;
}

.modal-row input {
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  width: 100%;
  color: white;
  padding-left: 20px;
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
}

.line-divider {
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  border: none;
  height: 2px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 85%;
}

.modal-row .tag-input {
  width: 75%;
}

.modal-row .post-button {
  width: 100%;
}

.modal-row .save-button {
  width: 78%;
}