/*Hamburger Menu Modal--------------------------------------------------*/
hr {
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  border: none;
  height: 2px;
  width: 90%;
}

.hamburger-menu-modal {
  background-color: #2e2d31;
  height: 11em;
  margin: 70px auto;
  padding: 8px 8px;
  width: 18em;
}

.search-bar {
  position: relative;
}

.my-pins-link:hover {
  color: #00ffde;
}

.settings-link:hover {
  color: #5200e8;
}

.log-out-link:hover {
  color: #ff4700;
}

.search-bar > input{
  border-color: white;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  height: 1.8em;
  margin-bottom: 10px;
  text-indent: 2em;
  width: 25.55em;
}

.hamburger-menu-modal > div > h2 {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .25em;
  margin: 0 auto;
  padding: 6px 0px;
  text-align: center;
  text-transform: uppercase;
}

.search-icon {
  color: gray;
  font-size: 15px;
  left: 7px;
  position: absolute;
  top: 4px;
}

.hamburger-menu-modal .log-out-link > h2 {
  border-width: 0px;
}