@import url('https://fonts.googleapis.com/css?family=PT+Sans|ZCOOL+QingKe+HuangYou');

.App {
  text-align: center;
}

body{
  margin: 0;
  height: 100vh;
  width:100vw;
  font-family: 'PT Sans', sans-serif;
}

html {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}

.home-page-body {
  /* background-image: url("../images/mapPlaceHolder.png"); */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.map-container {
  margin: 0;
  height: 100vh;
  width:100vw;
  z-index: -1;
}

.gm-fullscreen-control {
  display: none;
}

.home-page-logo {
  margin-left: 15px;
  position: fixed;
  top: -5px;
  width:250px;
  z-index: 20;
  display: flex;
}

/* Navigation Bar */
.home-page-navbar {
  align-items: center;
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  display: flex;
  font-size: 0.875rem;
  height: 70px;
  justify-content: flex-end;
  opacity: 0.6;
  padding-bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 50px;
  text-decoration: none;
  position: fixed;
  overflow: hidden;

}

.nav-links {
  color: white;
  letter-spacing: .25em;
  margin-left: 40px;
  text-transform: capitalize;
  text-decoration: none;
}

.home-page-logo {
  margin-left: 15px;
  position: fixed;
  top: -5px;
  width:250px;
  z-index: 10;
  display: flex;

}

.emoji-header {
  opacity: .2;
  position: fixed;
  width:1600px;
  z-index: 1;
}

.nav-links:hover {
  color: black;
}

.hamburger-menu {
  display: none;
}

/* Search bar */
.main-search-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 50px;
  text-decoration: none;
    display: none;

}
.search-bar {
  align-items: center;
  background-color: #2E2D31;
  display: flex;
  font-size: 14px;
  height: 70px;
  justify-content: center;
  padding-bottom: 0;
  width: 100%;
  display: none;

}

.drop-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #00FFDE;
  -moz-box-shadow: 0 8px 6px -6px #00FFDE;
  box-shadow: 0 8px 6px -6px #00FFDE;

}

.home-page-search-input {
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  padding: 12px 20px;
  width: 80%;
}
/* End of search bar */

/* Add new pin */
.new-pin-button {
  background-image: linear-gradient(160deg, #FF4700, #5200E8, #00FFDE);
  border-radius: 100px;
  color: white;
  filter: drop-shadow(1px 1px 7px black);
  font-size: 5em;
  opacity: .7;
  padding: .05em;
}

/* pin marker styles  */
.marker-style {
  filter: drop-shadow(1px 1px 3px #2E2D31);
  height: 50px;
  margin: 0 auto;
  width: 50px;

}

.fa-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4700), to(#00FFDE));
  font-size: 7em;
  filter: drop-shadow(6px -4px 3px #2E2D31);
}
/* .home-page-new-pin-button */
button.home-page-new-pin-button{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.white {
  color: white;
  font-size: 2em;
}

.x-reversed {
  color: white;
  font-size: 2em;
  justify-content: flex-end;
}

.button-container {
  align-items: flex-end;
  align-self: self-start;
  display: flex;
  height: 75%;
  justify-content: flex-end;
}

.button-child {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 4%;
  margin-right: 4%;
}

/* Navigation Bar */
.main-nav li {
  color: white;
  margin: 0;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {

.button-container {
  height: 72%;
}

.main-nav-list {
    margin-right: 2%;
}

.logo {
  margin-left: 0px;
  top: 0px;
  width:225px;
}

.hamburger-menu {
  color: white;
  display: block;
  float: right;
  font-size: 2em;
}

.nav-links {
  display: none;
}
}
