
.vertical-modal{
  background-color: #2E2D31;
  height: 650px;
  width: 412px;
  color: white;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

hr {
  background-image: linear-gradient(260deg, #FF4700, #5200E8, #00FFDE);
  border: none;
  height: 5px;
  width: 100%;
}

footer {
  padding-bottom: 5%;
  width: 80%;
}

.body-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  max-width: 600px;
  width: 100%;
}

.settings-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 80%;
}

.slide-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25%;
  width: 100%;
}

.slider {
  appearance: none;
  height: 100%;
  margin-top: 25%;
  outline: none;
  width: 100%;
}

.title-exit-button-container {
  width: 100%;
}

.title-exit-button-flex-group {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  padding: 5% 10% 5% 10%;
}

.delete-account-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin: 15px;
  padding: 12px 40px;
  width: 100%;
}

.delete-account-button:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.footer-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-exit-button-container {
  color: white;
  height: 10vh;
  opacity: 0.7;
}

